@model Toy.Models.ViewModels.Product.ProducLIst
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_admin.cshtml";
}


<h2>Products</h2>
<a href="../Admin/Product">Add new Product</a>
<div id="total">
    <h3 id="price"></h3>
</div>
<div class="ProductListItem">
       @Html.Partial("ListProducts")
</div>
<div style="text-align:right">
    @Html.Partial("_adminPageVM")
</div>