<div class=" row productList">
    <div class="col-md-3 img">
        <img src="~/images/Galery/carbon.jpg" alt="Alternate Text" />
    </div>
    <div class="col-md-7">
        <div class="row title">
            <p>Lenovo thinkpad CArbon X1</p>
        </div>
        <div class="row price">
            <h4>1400lv</h4>
        </div>
        
    </div>
    <div class="col-md-2">
        <div class="button ">
            <button class="btn btn-success">Info</button>
        </div>
    </div>
</div>
