
@{
    ViewData["Title"] = "Index";
}



<div class="body-content">
    <div style="padding-top:20px;">
        <div class="row infoField">
            <div class="col-md-9">
                <h3>Продукти</h3>
            </div>
            <div class="col-md-3">
                <div class=" viewButtons">
                    <div class="col-md-2">
                        <img onclick="ChangeView(1)" src="~/images/list.png" width="30px" alt="Alternate Text" />
                    </div>
                    <div class="col-md-2">
                        <img onclick="ChangeView(2)" src="~/images/galery.png" style="padding-top:4px" width="30px" alt="Alternate Text" />
                    </div>
                    <div class="col-md-8" style="padding-right:5px;">
                        <select class="form-control" id="sortlist" onchange="ChangeSortOfProduct()">
                            <option value="0">Date</option>
                            <option value="1">Price min</option>
                            <option value="2">Ptice max</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-2 filters">
            <div class="delteFilter">
                <button onclick="RestoreFilter()">Изчитване на филтър</button>
            </div>
            <form action="Filter" method="post">

                <div class="singleFilter">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Цена от</label>
                            <input type="number" class="form-control" value="@ViewBag.priceFrom" s id="priceOF" onblur="ChangePriceFrom()" aria->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Цена до</label>
                            <input type="number" class="form-control" value="@ViewBag.priceTO" id="PriceTo" onblur="ChangePriceTo() ">
                        </div>

                    </div>


                </div>

                <div class="singleFilter">
                    <h4>Подходящо за </h4>
                    <div class="custom-control custom-checkbox">
                        <input type="radio" name="group" value="1" onchange="ProductCategory(1)" class="custom-control-input" id="baby">
                        <label class="custom-control-label"  for="baby">Бебета</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="radio" name="group" value="2" onchange="ProductCategory(2)" class="custom-control-input" id="adult">
                        <label class="custom-control-label" for="adult">Възрастни</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="radio" name="group" value="3" onchange="ProductCategory(3)" class="custom-control-input" id="boy">
                        <label class="custom-control-label" for="boy">Момичета</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="radio" name="group" value="4" onchange="ProductCategory(4)" class="custom-control-input" id="girl">
                        <label class="custom-control-label" for="girl">Момчета</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="radio" name="group" value="5" onchange="ProductCategory(5)" class="custom-control-input" id="family">
                        <label class="custom-control-label" for="family">Семейство</label>
                    </div>
                </div>
                <div class="singleFilter">
                </div>
            </form>
        </div>

        <div class="col-md-10 products" >
            @if (Context.Request.Cookies["ViewProducr"] == "1")
            {
                @Html.Partial("ListProduct");
            }
            else
            {
                @Html.Partial("GaleryProduct");
            }



        </div>

    </div>


</div>