@model Toy.Models.ViewModels.Product.ProducLIst

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @foreach (var item in Model.Items)
    {
        <div class=" row productList">
            <div class="col-md-3 img">
                <img src="~/images/Galery/carbon.jpg" alt="Alternate Text" />
            </div>
            <div class="col-md-7">
                <div class="row title">
                    <p>@item.Title</p>
                </div>
                <div class="row price">
                    <h4>@item.Price</h4>
                </div>

            </div>
            <div class="col-md-2">
                <div class="button ">
                    <button class="btn btn-success">Info</button>
                </div>
            </div>
        </div>
    }
        <div class="row">
            <div class="pageVM">
                @Html.Partial("_pageVm");
            </div>
        </div>

</body>
</html>
