.menu {
  display: inline-block;
}

  .menu li {
    display: inline-block;
    margin-top: 15px;
  }

    .menu li a {
      color: white;
      text-decoration: none;
      padding: 15px;
    }

.headerMenu {
  width: 100%;
  margin: 0px;
  background-color: black;
  color: white
}

#loginLinks {
  float: right;
}
