<div class="row headerMenu">
  <div class="container ">
    <div class="col-md-8">
      <ul class="menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/product">Product</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/cars">Cars</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="menu" id="loginLinks">
        <li><a routerLink="/registration">Registration</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
  </div>
</div>
