<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Toy</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-md-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Toy</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a href="../Product/Index?Curentpage=1">Product</a></li>
                        <li><a href="../Product/Create">Create</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Login" asp-action="Registration">Registration</a></li>
                        <li><a asp-area="" asp-controller="Login" asp-action="Index">Login</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <div class="row">
        <div class="container herder">
            <div class="col-md-7">

                <a href="~/Home/Index"><img src="~/images/Vavilonci.png" width="350px" ="Home" /></a>

            </div>
            <div class="col-md-5 search">
                <form action="../Product" method="post">
                    <div class="col-md-9">
                        <input class="form-control searchFiels"  type="text" name="search" placeholder="Search ...."/>
                    </div>
                    <div class="col-md-3">
                        <button class="form-control"><img src="~/images/search.png" alt="Search" /></button>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <div class="secondNAvigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Играчки
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Превозни средства</a></li>
                            <li><a href="#">Кукли и аксесоари</a></li>
                            <li><a href="#">Фигури</a></li>
                            <li><a href="#">С дистанционно управление</a></li>
                            <li><a href="#">Лаптопи и таблети</a></li>
                            <li><a href="#">Конструктор и сглобяеми играчки</a></li>
                            <li><a href="#">Аркадни</a></li>
                            <li><a href="#">За игра на професии</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Образователни игри
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">За предучилищна подготовка </a></li>
                            <li><a href="#">Музикални играчки</a></li>
                            <li><a href="#">Настолни игри</a></li>

                        </ul>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">За бебета </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Спорт и игра на открито
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Спортни играчки</a></li>
                            <li><a href="#">Игра на открито</a></li>
                            <li><a href="#">Детски тротинетки</a></li>
                            <li><a href="#">Ролери и скейтбордове</a></li>
                            <li><a href="#">Колела и триколки</a></li>
                            <li><a href="#">Колички и мотори </a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Пъзели
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu d1">
                            <li><a href="#">Aвтoмoбили и мoтopи</a></li>
                            <li><a href="#">Aнимaциoнни гepoи</a></li>
                            <li><a href="#">Глeдки и пeйзaжи</a></li>
                            <li><a href="#">Гopи, цвeтя и гpaдини</a></li>
                            <li><a href="#">Дeцa и бeбeтa </a></li>
                            <li><a href="#">Динoзaвpи </a></li>
                            <li><a href="#">Живoтни </a></li>
                            <li><a href="#">Зaмъци и xpaмoвe </a></li>
                            <li><a href="#">Koнe </a></li>
                            <li><a href="#">Kopaби и лoдки </a></li>
                            <li><a href="#">Kocмoc </a></li>

                        </ul>
                        <ul class="dropdown-menu d2">
                            
                            <li><a href="#">Koтки </a></li>
                            <li><a href="#">Kyчeтa </a></li>
                            <li><a href="#">клaнини и eзepa </a></li>
                            <li><a href="#">кoдвoдeн cвят </a></li>
                            <li><a href="#">кoжapнa и пoлиция </a></li>
                            <li><a href="#">ктици </a></li>
                            <li><a href="#">Peки и вoдoпaди </a></li>
                            <li><a href="#">Caмoлeти и бaлoни </a></li>
                            <li><a href="#">Cгpaди и пocтpoйки</a></li>
                            <li><a href="#">Фaнтacтикa </a></li>
                            <li><a href="#">Фoтoгpaфии</a></li>
                        </ul>
                        </li>
<li><a asp-area="" asp-controller="Home" asp-action="Contact">Настолни игри и забавления </a></li>
                </ul>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footerMenu">
                <ul class="footerNav">
                    <h3>Menu</h3>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a href="../Product/Index?Curentpage=1">Product</a></li>
                    <li><a href="../Product/Create">Create</a></li>
                </ul>
            </div>
            <div class="col-md-4 secondnavFooter">
                <ul class="footerNav">
                    <h3>Products</h3>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Играчки</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Образователни игри</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">За бебета</a></li>
                    <li><a href="../Product/Index?Curentpage=1">Спорт и игра на открито</a></li>
                    <li><a href="../Product/Create">Пъзели</a></li>
                    <li><a href="../Product/Create">Настолни игри и забавления</a></li>
                </ul>
            </div>
            <div class="col-md-4 social-link">
                <h3>Follow us</h3>
                <a href="#"><img src="~/images/social/facebook.png"width="50px" alt="facebook" /></a>
            </div>

        </div>
        <div class="row copyright">
            <a href="#">©2019 VavilonIT Всички права запазени</a>
        </div>
    </div>

</footer>
</html>