body {
}


.navigation {
    width: 100%;
    background-color: black ;
    height:800px;
}
.navMenu
{
    list-style:none;

}
.navMenu li{
    padding:7px;
}
.navMenu li a {
    color: white;
    

}

/*admin page*/
.deleteImg {
    float:right;
}

.siteIMG {
    width: 200px;
    height: 200px;
    background-size: 100%
}