/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eeeeee;
}
.dropdown-menu li a:hover {
    background-color: #cccccc;
}




.herder {
    padding: 10px;
    height: 150px;
}
.search
{
    margin:0px;
    padding:0px;
    margin-top:4%;
}
.search .col-md-9
{
    padding:0px;
}
.search .col-md-3 {
    padding: 0px;
}

.search .searchFiels
{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}
.search button
{
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-left:0px;
}

.search button img
{
    width:20px;
}


.secondNAvigation
{
    background-color:white;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.d1{
    border-right:0px solid white;
}
.d2{
   left:182.81px;
   border-left:4px solid white;
   box-shadow:0px;
   
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.container.login {
    width: 350px;
    margin: 0 auto;
    padding-top: 5%;
    background-color:white;
    padding:15px;
}

.login {
    margin: 0 auto;
}

    .login h3 {
        text-align: center;
    }

.loginButton {
    width: 100%;
}
span
{
    color:red;
}

.registrationErrors
{
    color:red;
}

.infoField .col-md-3
{
    padding-left:70px;
}
.viewButtons img:hover {
    cursor: pointer;
}

.dropdown-item
{
    color:black !important;
}

/*produc style*/
.productGalery
{
	margin-top: 20px;
	border:1px solid #cccccc;
	width: 24%;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: inline-block;
	margin-right: 5px;
    background-color:white;
}
.productGalery .img  img
{
	width: 91%;
	height: 200px;
}
.productGalery .price h4{
	color:green;
}
.productGalery .button a
{
	width: 90%;
}

/*list products*/
.productList
{
	padding: 5px;
	margin-top: 10px;
	border:1px solid #cccccc;
    background-color:white

}
.productList .img img
{
	width: 100%;
}
.productList .price h4{
	color:green;
    float: right
}
.productList .button button
{
	margin-top: 10px;
	width: 100%;
}
.productList .col-md-7
{
	height: 140px;
	border-right: 1px solid #cccccc;
}

/*footer*/
footer{
    background-color:black;
    padding:10px;
}

.footerNav {
    list-style: none;
}
.footerNav li {
    padding:5px;
    
}
.footerNav li a {
   color:white
}
.footerNav h3{
    color:#999
}

.social-link h3 {
    color: #999
}
.copyright
{
    padding-top:20px;
    text-align:center;
   
}
    .copyright a {
        color: white;
    }


.pageVM {
    text-align:right
}

.filters
{
    padding-top:30px;
}
.singleFilter .col-md-6 {
    padding: 0px;
    padding-right:5px;
}




/*admin page*/
.delteImage
{
    display:none;
    float:right;
}

.orders
{
    padding-left: 10px;:
    ;
}
.headers
{
padding: 20px;

}
.headers .col-md-2
{
    font-weight: bold
}
.headers .col-md-4
{
    font-weight: bold
}
.addID
{
    padding: 20px;
    padding-bottom: 0px;
}
.addID span:hover
{
    cursor: pointer;
}
.informarionForUserAndPRoduct
{
    /*padding: 8px;
    margin:  0 5px;*/
    display: none;
    background-color: white;
}
.informarionForUserAndPRoduct row
{
   padding-top: 0px !important;
}
.headers .col-md-4 span:hover
{
    cursor: pointer;
}
.orderInformation
{
    background-color: green;
    color:white;
}
.desc{
    width:100%
}
.bying
{
    text-align:right
}
.bying h3 {
}

.orderBY {
    width: 100%;
    padding:10px;
}

.closeGalery:hover
{
    cursor:pointer;
}
.makeOrder
{
    width: 100%;
}



.main_image
{
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height:400px;

}
.main_image:hover
{
    cursor: pointer;    
}
.subImage {
    height: 150px;
}
.subImage .col-md-3
{
    width:22%;
    margin:5px;
    height:70%;
}
.col-md-6 .row{
    padding:10px;
}

.order .container{
    background-color:white
}

.galery {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    min-height: 100% !important;
    background-color: rgba(0,0,0,0.6);
    display:none;
}
.item
{
    min-height:100% !important;
    text-align:center;
}
.item img {
    margin:0 auto;
    margin-top:0%;
    height:45%;
    width: 70%
}

.totalOrder {
    float: right
}

.infoOrderProduct {
    height: 70% !important;
}

.priceOrderProduct {
    position:relative;
    right:20px;
    bottom: 20px;
    height: 30% !important;
    float: right;
}
.alertBox,.dangerBox
{
    position: fixed;
    top: 100px;
    width: 500px;
    margin-left:33% !important;
    display:none;
    border:1px solid black;
    color:black;
}

/*order page*/
.order
{
    background-color: white;
    padding: 20px;
}
.orderElement .imageBorder, .orderElement .infoBorder 
{
    padding: 10px;
    min-height:  180px;

}
.imageBorder img
{
    padding-bottom: 66px ;
}
.infoBorder
{
    height: 100%;
    border-right: 1px solid #cccccc;
}
.delteProductFromOrder
{
    position: absolute;
    right: 10px;
    top: 0px;
    width: 25px;
    z-index: 999;
}
.delteProductFromOrder:hover
{
    cursor:pointer;
}
/*==================*/
.infoForOrder
{
    margin-top: 20px;
}
.infoForOrder .col-md-8 .col-md-6
{
    padding: 0px;
}


.cungratiolation
{
    margin-top: 40px;
    text-align: center;
}
.cungratiolation img
{
    width: 100px;
}

.circle {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 15px;
  left: 20px;

}

.menu
{
    background-color: white
}
.menu h2
{
    padding-left: 20px;
}
.menu_item
{
    display: inline-block;
    padding: 10px 60px;
    text-align: center;
}
.menu_item img
{
    width: 100px;
    height: 100px;
}
.menu_item img:hover
{
    cursor: pointer;
}


/*User page*/

.user
{
    padding-top: 30px;

}
.user .col-md-3
{
    padding: 0px;
    padding-top: 20px;
    background-color: white;
}
.user .col-md-9
{
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 850px !important;
    background-color: transparent;

}
.user .col-md-9 .col-md-9
{
   
    width: 600px !important;
}
.user .col-md-9 .orderinformation .headers
{
   
    margin: 0px;
    padding-bottom: 0px;
}
.user .col-md-9 .orderinformation .addID
{
   
    padding-top: 5px;
}
.user .col-md-9 .orderinformation .addID span:hover
{
   cursor: pointer;
}
.user .col-md-9 .col-md-3
{
   padding-left: 40px;
}
.user .col-md-9 h3
{
   padding-left: 40px;
}
.user .col-md-9 .row
{
  margin-bottom:  20px;
}
.userimage
{
    margin-left: 10px;
    margin:0 auto; 
    width: 70%;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
}
#userIMG
{
    width: 100%;
    height: 170px;
    border-radius: 50% !important;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20%;
}
#userIMGEdit
{
    width: 100%;
    height: 370px;
    border-radius: 50% !important;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20%;
}
.useroption
{
    list-style: none;
    color:#337ab7;
}
.useroption li h4:hover
{
    cursor:pointer;
}
.userinfo
{
    background-color: white;
    padding-bottom: 20px;
}
.orderinformation
{
    background-color: white;
}

.changeUserInfo
{
    position: absolute;
    right: 10px;
    top:10px;
    border:1px solid #337ab7;
    border-radius: 7px;
    padding:5px 10px;
}
.changeUserInfo:hover
{
    text-decoration: none;
}

.emailChange
{
    width: 100px;
}
.passchange
{
    width: 100px;
}

.adminButton
{
    margin: 10px;
    padding: 0px !important;
    padding: 5px 10px !important;
    vertical-align: top !important;
    color: white !important;
}

/*admin*/