@{
    ViewData["Title"] = "Home Page";
}

<div class="row menu">
    <h2>Подходящо за</h2>
    <div class="menu_item">
        <img onclick="ProductCategory(1)" src="~/images/baby.png" alt="Alternate Text" />
        <h4>Бебета</h4>
    </div>
    <div  class="menu_item">
        <img onclick="ProductCategory(2)" src="~/images/adult.png" alt="Alternate Text" />
        <h4>Възрастни</h4>
    </div>
    <div class="menu_item">
        <img onclick="ProductCategory(3)" src="~/images/woman.png" alt="Alternate Text" />
        <h4>Момичета</h4>
    </div>
    <div class="menu_item">
        <img onclick="ProductCategory(14)" src="~/images/men.png" alt="Alternate Text" />
        <h4>Момчета</h4>
    </div>
    <div class="menu_item">
        <img onclick="ProductCategory(5)" src="~/images/family.png" alt="Alternate Text" />
        <h4>Семейство</h4>
    </div>
</div>