
@{
    ViewData["Title"] = "SuccessChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="cungratiolation">
    <img src="~/images/ok.png" alt="" />
    <h3>Паролата ви беше успешно сменена. Моля последвайте линка !</h3>
    <a asp-controller="Login" asp-action="Index"> Go to Login</a>
</div>

