
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Поръчка №</h2>
<div class="row">
    <div class="container">
        <div class="col-md-9">
            <div class="listOrders">
                <div class="col-md-3">
                    asdasda
                </div>
                <div class="col-md-9">
                    <div class="infoOrderProduct">Info</div>
                    <div class="priceOrderProduct">Price</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="totalOrder">Total:</h3>
            <a class="btn btn-primary makeOrder" href="#">Направи поръчка</a>
        </div>
    </div>
</div>

